@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../assets/fonts/AvenirNextCyrRegular.woff') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../assets/fonts/AvenirNextCyr-Medium.woff') format('truetype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../assets/fonts/AvenirNextCyr-Demi.woff') format('truetype');
	font-weight: 700;
	font-display: swap;
}
