:root {
	// device
	--desktop: 1440;
	--table: 768;
	--mobile: 375;
	--table-media: 1025px;
	--mobile-media: 480px;
	// font
	--font-family: 'Avenir Next Cyr';
	// width
	--container: 1210rem;
	// distance
	--padding-container: 15rem;
	// color
	--bg-color: #eff3ff;
	--main-color: #00284f;
	--accept-color: #5271f2;
	--secondary-color: #ffce26;
}
